USE [QLNS]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[Ngay] [date] NOT NULL,
	[IDNV] [int] NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[Ngay] ASC,
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
	[HeSo] [float] NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongLaoDong]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongLaoDong](
	[IDNV] [int] NOT NULL,
	[LuongCB] [int] NULL,
	[NgayKy] [date] NULL,
 CONSTRAINT [PK_HopDongLaoDong_1] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuong]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuong](
	[IDKT] [int] IDENTITY(1,1) NOT NULL,
	[IDLoaiKT] [int] NULL,
	[Ngay] [date] NULL,
	[IDNV] [int] NULL,
 CONSTRAINT [PK_KhenThuong] PRIMARY KEY CLUSTERED 
(
	[IDKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyLuat]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyLuat](
	[IDKL] [int] IDENTITY(1,1) NOT NULL,
	[IDLoaiKL] [int] NULL,
	[Ngay] [date] NULL,
	[IDNV] [int] NULL,
 CONSTRAINT [PK_KyLuat] PRIMARY KEY CLUSTERED 
(
	[IDKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhenThuong]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhenThuong](
	[IDLoaiKT] [int] IDENTITY(1,1) NOT NULL,
	[TenKT] [nvarchar](50) NULL,
	[GiaTri] [int] NULL,
 CONSTRAINT [PK_LoaiKhenThuong] PRIMARY KEY CLUSTERED 
(
	[IDLoaiKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKyLuat]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKyLuat](
	[IDLoaiKL] [int] IDENTITY(1,1) NOT NULL,
	[TenKL] [nvarchar](50) NULL,
	[GiaTri] [int] NULL,
 CONSTRAINT [PK_LoaiKyLuat] PRIMARY KEY CLUSTERED 
(
	[IDLoaiKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[IDPB] [int] NULL,
	[IDCV] [int] NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[CMND] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[HinhAnh] [varchar](50) NULL,
	[TinhTrang] [bit] NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[IDPB] [int] IDENTITY(1,1) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[IDPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/06/2021 2:24:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDNV] [int] NOT NULL,
	[Pass] [varchar](50) NULL,
	[Type] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChamCong] ([Ngay], [IDNV], [TrangThai]) VALUES (CAST(N'2021-05-31' AS Date), 1, 1)
INSERT [dbo].[ChamCong] ([Ngay], [IDNV], [TrangThai]) VALUES (CAST(N'2021-05-31' AS Date), 1016, 1)
INSERT [dbo].[ChamCong] ([Ngay], [IDNV], [TrangThai]) VALUES (CAST(N'2021-05-31' AS Date), 1017, 1)
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([IDCV], [TenCV], [HeSo]) VALUES (1, N'Trưởng phòng', 2)
INSERT [dbo].[ChucVu] ([IDCV], [TenCV], [HeSo]) VALUES (2, N'Phó phòng', 1.5)
INSERT [dbo].[ChucVu] ([IDCV], [TenCV], [HeSo]) VALUES (3, N'Nhân viên', 1)
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
INSERT [dbo].[HopDongLaoDong] ([IDNV], [LuongCB], [NgayKy]) VALUES (1, 10530000, CAST(N'2014-04-29' AS Date))
INSERT [dbo].[HopDongLaoDong] ([IDNV], [LuongCB], [NgayKy]) VALUES (2, 13479053, CAST(N'2001-08-19' AS Date))
INSERT [dbo].[HopDongLaoDong] ([IDNV], [LuongCB], [NgayKy]) VALUES (3, 29560870, CAST(N'2011-08-06' AS Date))
GO
SET IDENTITY_INSERT [dbo].[KhenThuong] ON 

INSERT [dbo].[KhenThuong] ([IDKT], [IDLoaiKT], [Ngay], [IDNV]) VALUES (2, 3, CAST(N'2021-06-04' AS Date), 1016)
INSERT [dbo].[KhenThuong] ([IDKT], [IDLoaiKT], [Ngay], [IDNV]) VALUES (3, 4, CAST(N'2021-06-02' AS Date), 7)
INSERT [dbo].[KhenThuong] ([IDKT], [IDLoaiKT], [Ngay], [IDNV]) VALUES (4, 3, CAST(N'2021-04-04' AS Date), 1016)
SET IDENTITY_INSERT [dbo].[KhenThuong] OFF
GO
SET IDENTITY_INSERT [dbo].[KyLuat] ON 

INSERT [dbo].[KyLuat] ([IDKL], [IDLoaiKL], [Ngay], [IDNV]) VALUES (1, 5, CAST(N'2021-06-04' AS Date), 9)
INSERT [dbo].[KyLuat] ([IDKL], [IDLoaiKL], [Ngay], [IDNV]) VALUES (2, 6, CAST(N'2021-06-04' AS Date), 7)
INSERT [dbo].[KyLuat] ([IDKL], [IDLoaiKL], [Ngay], [IDNV]) VALUES (3, 2, CAST(N'2021-05-04' AS Date), 1019)
SET IDENTITY_INSERT [dbo].[KyLuat] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiKhenThuong] ON 

INSERT [dbo].[LoaiKhenThuong] ([IDLoaiKT], [TenKT], [GiaTri]) VALUES (1, N'Không đi trễ', 200000)
INSERT [dbo].[LoaiKhenThuong] ([IDLoaiKT], [TenKT], [GiaTri]) VALUES (3, N'Thành tích công việc tốt', 200000)
INSERT [dbo].[LoaiKhenThuong] ([IDLoaiKT], [TenKT], [GiaTri]) VALUES (4, N'Không nghỉ không phép', 150000)
SET IDENTITY_INSERT [dbo].[LoaiKhenThuong] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiKyLuat] ON 

INSERT [dbo].[LoaiKyLuat] ([IDLoaiKL], [TenKL], [GiaTri]) VALUES (1, N'Nghỉ không phép', 200000)
INSERT [dbo].[LoaiKyLuat] ([IDLoaiKL], [TenKL], [GiaTri]) VALUES (2, N'Đi trễ', 100000)
INSERT [dbo].[LoaiKyLuat] ([IDLoaiKL], [TenKL], [GiaTri]) VALUES (4, N'Tác phong không đúng quy định', 100000)
SET IDENTITY_INSERT [dbo].[LoaiKyLuat] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([IDNV], [IDPB], [IDCV], [TenNV], [GioiTinh], [CMND], [DiaChi], [DienThoai], [Email], [HinhAnh], [TinhTrang], [NgaySinh]) VALUES (1, 2, 3, N'Coretta Chinge', 0, 736531664, N'22243 Dakota Court', N'968-517-4369', N'cchinge0@is.gd', N'f99a2f6005b12c7fd41908cb3492955a.jpg', 1, CAST(N'1992-12-16' AS Date))
INSERT [dbo].[NhanVien] ([IDNV], [IDPB], [IDCV], [TenNV], [GioiTinh], [CMND], [DiaChi], [DienThoai], [Email], [HinhAnh], [TinhTrang], [NgaySinh]) VALUES (2, 5, 1, N'Grantham Ferroli', 1, 891411297, N'10369 Namekagon Junction', N'1324328896', N'gferroli1@msn.com', N'e18a9fa6e67578b1df86ca9edb316d62.jpg', 1, CAST(N'1994-08-12' AS Date))
INSERT [dbo].[NhanVien] ([IDNV], [IDPB], [IDCV], [TenNV], [GioiTinh], [CMND], [DiaChi], [DienThoai], [Email], [HinhAnh], [TinhTrang], [NgaySinh]) VALUES (3, 1, 2, N'Henriette Sparkwell', 0, 612262111, N'5260 Aberg Junction', N'162-267-8055', N'hsparkwell2@cnet.com', N'ca57bf142e3c085fdaef4ee675fc2083.jpg', 1, CAST(N'1994-03-19' AS Date))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongBan] ON 

INSERT [dbo].[PhongBan] ([IDPB], [TenPB]) VALUES (1, N'Marketing')
INSERT [dbo].[PhongBan] ([IDPB], [TenPB]) VALUES (2, N'Nhân sự')
INSERT [dbo].[PhongBan] ([IDPB], [TenPB]) VALUES (3, N'IT')
SET IDENTITY_INSERT [dbo].[PhongBan] OFF
GO
INSERT [dbo].[TaiKhoan] ([IDNV], [Pass], [Type]) VALUES (1, N'1', 0)
INSERT [dbo].[TaiKhoan] ([IDNV], [Pass], [Type]) VALUES (2, N'2', 0)
INSERT [dbo].[TaiKhoan] ([IDNV], [Pass], [Type]) VALUES (3, N'3', 0)
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([IDNV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[HopDongLaoDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDongLaoDong_NhanVien] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([IDNV])
GO
ALTER TABLE [dbo].[HopDongLaoDong] CHECK CONSTRAINT [FK_HopDongLaoDong_NhanVien]
GO
ALTER TABLE [dbo].[KhenThuong]  WITH CHECK ADD  CONSTRAINT [FK_KhenThuong_LoaiKhenThuong] FOREIGN KEY([IDLoaiKT])
REFERENCES [dbo].[LoaiKhenThuong] ([IDLoaiKT])
GO
ALTER TABLE [dbo].[KhenThuong] CHECK CONSTRAINT [FK_KhenThuong_LoaiKhenThuong]
GO
ALTER TABLE [dbo].[KhenThuong]  WITH CHECK ADD  CONSTRAINT [FK_KhenThuong_NhanVien] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([IDNV])
GO
ALTER TABLE [dbo].[KhenThuong] CHECK CONSTRAINT [FK_KhenThuong_NhanVien]
GO
ALTER TABLE [dbo].[KyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KyLuat_LoaiKyLuat] FOREIGN KEY([IDLoaiKL])
REFERENCES [dbo].[LoaiKyLuat] ([IDLoaiKL])
GO
ALTER TABLE [dbo].[KyLuat] CHECK CONSTRAINT [FK_KyLuat_LoaiKyLuat]
GO
ALTER TABLE [dbo].[KyLuat]  WITH CHECK ADD  CONSTRAINT [FK_KyLuat_NhanVien] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([IDNV])
GO
ALTER TABLE [dbo].[KyLuat] CHECK CONSTRAINT [FK_KyLuat_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([IDCV])
REFERENCES [dbo].[ChucVu] ([IDCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([IDPB])
REFERENCES [dbo].[PhongBan] ([IDPB])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NhanVien] ([IDNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
