@model Web_QLNS.Controllers.ViewModelDG

@{
    ViewData["Title"] = "Delete";
}
<div class="col-md-2">

</div>
<div class="col-md-1">
    <a asp-action="Index" class="btn btn-outline-warning mt-md-5"><i class="fa fa-angle-left"></i> Trở về </a>
</div>
<div class="col-md-6 mt-md-5">
    <form asp-action="Delete" class="create__NV">
        <h1 class="text-center mb-md-5">Bạn có thật sự muốn xóa thông tin khen thưởng này?</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="khenThuong.Ngay" class="col-md-3 control-label"></label>
            <input asp-for="khenThuong.Ngay" class="col-md-9 form-control" readonly />
            <span asp-validation-for="khenThuong.Ngay" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="khenThuong.IdnvNavigation.TenNv" class="col-md-3 control-label"></label>
            <input asp-for="khenThuong.IdnvNavigation.TenNv" class="col-md-9 form-control" />
            <span asp-validation-for="khenThuong.IdnvNavigation.TenNv" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="khenThuong.IdloaiKtNavigation.TenKt" class="col-md-3 control-label"></label>
            <input asp-for="khenThuong.IdloaiKtNavigation.TenKt" class="col-md-9 form-control" />
            <span asp-validation-for="khenThuong.IdloaiKtNavigation.TenKt" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <input type="submit" value="Xóa khen thưởng" class="btn btn-danger col-md-12" />
        </div>
    </form>
</div>